<div class="row justify-content-end mb-4">
  <div class="col-md-4">
    <%= form_with url: users_path, method: :get, class: "d-flex gap-3" do |f| %>
      <div class="flex-grow-1">
        <%= f.text_field :keyword, placeholder: "キーワード検索", class: "form-control" %>
      </div>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if @users.empty? && params[:keyword].present? %>
    <div class="alert alert-info mt-3">
      検索条件に一致するユーザーが見つかりませんでした。
    </div>
  <% end %>
</div>
<%= render "index", users: @users %>