<div class="container">
  <!-- メインコンテンツ -->
  <div class="text-center mt-5">
    <!-- LOGOマーク -->
    <%= image_tag "logo.png", class: "img-fluid mb-4", style: "max-width: 200px;" %>

    <!-- 新規登録・ログインボタン -->
    <div class="d-grid gap-3 col-6 mx-auto">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary btn-lg" %>
    </div>

    <!-- サイト説明 -->
    <div class="mt-5">
      <h2 class="mb-4 intro"><i class="bi bi-bell-fill shake me-2 text-info"></i>Welcome to "Komunet"</h2>
        このサイトは、全国の地方自治体の職員による交流を促進するためのプラットフォームです。<br>
        ユーザー同士が気軽に情報交換や意見交換を行うことを目的としています。<br>
        安全で快適なコミュニケーション環境を維持するため、以下のルールを守ってご利用ください。
    </div>

    <!-- 使用上のルール -->
    <div class="mt-5">
      <h3 class="mb-3 intro"><i class="bi bi-bell-fill shake me-2 text-info"></i>Rules & Policies</h3>
      <ul class="list-unstyled">
        <li class="mb-2">✓ 地方自治体職員以外の方のご利用はご遠慮ください</li>
        <li class="mb-2">✓ 本サイトにおける投稿を投稿主に無断で他のSNSサービスに転載することは禁止します</li>
        <li class="mb-2">✓ 個人情報などの機密情報を扱う場合は、必ず法令や各自治体の条例等を遵守してください</li>
        <li class="mb-2">✓ 不適切な投稿や勧誘を行った場合は、アカウントを停止します</li>
        <li class="mb-2">✓ 業務に関する相談や情報共有、PRのほか、雑談や悩み相談も大歓迎です</li>
        <li class="mb-2">✓ このKomunetでのやりとりをきっかけに多くの自治体職員がつながることを目的としています</li>
      </ul>
    </div>
  </div>
</div>


