.users-view {
    background-color: #69e9f5;
    min-height: 100vh;
    padding: 2rem 0;
}

.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .user-profile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}